#title {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 30px;
  }
  
#steps {
    font-family: arial, sans-serif;
    text-align: center;
    
  }
  
#ingredient{
    font-family: arial, sans-serif;
    text-align: center;
  }
  
#ingredient{
    font-family: arial, sans-serif;
    text-align: center;
  }
  
#intro{
    font-family: arial, sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }